<div class=" " id="intro" #introContainer>
    <div class="container" [ngClass]="{'animate': animate}">
        <div class="row">
            <div class="col-md-12">
                <h1>Hey, i'm Moi :)</h1>
                <img src="../../../assets/images/Avatar-2.png" alt="Avatar">
                <div class="blockquote">
                    <p><em>People enjoy the interaction on the Internet, and the feeling of belonging to a group that
                            does
                            something
                            interesting: that's how some software projects are born.</em></p>

                    <p class="blockquote-footer">Linus Torvalds </p>
                </div>
                <i class="fas fa-angle-double-down" [ngClass]="{'cta': cta}"
                    (click)="stylesService.introScrollDown()"></i>
            </div>
        </div>
    </div>
</div>
