<div id="projects" class="projects" #projects>
    <div class="header">
        <h1><i class="fas fa-tasks"></i> Projects</h1>
    </div>

    <div class="container">
        <div class="row">
            <div class="project col-12">
                <img src="../../../assets/images/onsnip.png" alt="">
                <div class="details">
                    <h1>OnSnip</h1>
                    <p>OnSnip2 is a 3rd party Spotify dashboard that displays user's information about their favorite
                        artist, playlist, and tracks in a dark-themed responsive UI.</p>


                    <button class="btn btn-outline-primary"><i class="fas fa-eye"></i>Go To Site</button>
                    <button class="btn btn-outline-info"> <i class="fab fa-github"></i>Source Code</button>


                </div>
            </div>
        </div>


        <div class="row">
            <div class="project col-12">
                <img src="../../../assets/images/brisk.png" alt="">
                <div class="details">
                    <h1>Brisk</h1>
                    <p>OnSnip2 is a 3rd party Spotify dashboard that displays user's information about their favorite
                        artist, playlist, and tracks in a dark-themed responsive UI.</p>


                    <button class="btn btn-outline-primary"><i class="fas fa-eye"></i>Go To Site</button>
                    <button class="btn btn-outline-info"> <i class="fab fa-github"></i>Source Code</button>


                </div>
            </div>
        </div>


        <div class="row">
            <div class="col-12 static-template">
                <div class="header-template ">
                    <h1>Full Responsive Web App Templates <i class="fas fa-arrow-circle-right"
                            *ngIf="!stylesService.desktopView"></i></h1>
                </div>
                <div class="templates ">
                    <a href="#">Glozzon</a>
                    <a href="#">Bloggen</a>
                    <a href="#">LoopLab</a>
                    <a href="#">Mizuxes</a>
                </div>
            </div>
        </div>


    </div>
</div>
