<section class="experiance" id="experiance" #experiance>
    <div class="header">
        <h1><i class="fas fa-laptop-code"></i> Experiance</h1>
    </div>

    <div class="container-fluid">
        <div class="card" (click)="showMore1 = !showMore1">
            <img class="" src="https://andrewborstein.com/assets/img/shelter-finder.jpg" alt="Card image cap">
            <div class="card-body">
                <i class="fas fa-ellipsis-v"></i>
                <h1>Nova Horizons</h1>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                    card's content.</p>
            </div>


            <div class="more-info" [ngClass]="{'show-more': showMore1}">
                <i class="fas fa-times"></i>
                <h4>Duties</h4>
                <ul>
                    <li>Design, code, test, and document custom and off-the-shelf software solutions for
                        internal/external business use.</li>
                    <li>Assist, maintain, and modify existing sites/systems to implement corrections, modifications,
                        and/or enhancements.</li>
                    <li>Troubleshoot, debug, and resolve system issues as they arise.</li>
                    <li>Design, code, test, and document custom and off-the-shelf software solutions for
                        internal/external business use.</li>
                    <li>Assist, maintain, and modify existing sites/systems to implement corrections, modifications,
                        and/or enhancements.</li>
                    <li>Troubleshoot, debug, and resolve system issues as they arise.</li>
                </ul>
                <div class="card-footer">
                    <p>Sep 2020 - Current | Minneapolis, MN</p>
                </div>
            </div>
        </div>


        <div class="card" (click)="showMore2 = !showMore2">
            <img class="" src="https://andrewborstein.com/assets/img/shelter-finder.jpg" alt="Card image cap">
            <div class="card-body">
                <i class="fas fa-ellipsis-v"></i>
                <h1>Gigwerk.io</h1>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                    card's content.</p>
            </div>


            <div class="more-info" [ngClass]="{'show-more': showMore2}">
                <i class="fas fa-times"></i>
                <h4>Duties</h4>
                <ul>
                    <li>Design, code, test, and document custom and off-the-shelf software solutions for
                        internal/external business use.</li>
                    <li>Assist, maintain, and modify existing sites/systems to implement corrections, modifications,
                        and/or enhancements.</li>
                    <li>Troubleshoot, debug, and resolve system issues as they arise.</li>
                    <li>Design, code, test, and document custom and off-the-shelf software solutions for
                        internal/external business use.</li>
                    <li>Assist, maintain, and modify existing sites/systems to implement corrections, modifications,
                        and/or enhancements.</li>
                    <li>Troubleshoot, debug, and resolve system issues as they arise.</li>
                </ul>
                <div class="card-footer">
                    <p>Sep 2020 - Current | Minneapolis, MN </p>
                </div>
            </div>
        </div>



        <div class="card" (click)="showMore3 = !showMore3">
            <img class="" src="https://andrewborstein.com/assets/img/shelter-finder.jpg" alt="Card image cap">
            <div class="card-body">
                <i class="fas fa-ellipsis-v"></i>
                <h1>AskFavr</h1>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                    card's content.</p>
            </div>


            <div class="more-info" [ngClass]="{'show-more': showMore3}">
                <i class="fas fa-times"></i>
                <h4>Duties</h4>
                <ul>
                    <li>Design, code, test, and document custom and off-the-shelf software solutions for
                        internal/external business use.</li>
                    <li>Assist, maintain, and modify existing sites/systems to implement corrections, modifications,
                        and/or enhancements.</li>
                    <li>Troubleshoot, debug, and resolve system issues as they arise.</li>
                    <li>Design, code, test, and document custom and off-the-shelf software solutions for
                        internal/external business use.</li>
                    <li>Assist, maintain, and modify existing sites/systems to implement corrections, modifications,
                        and/or enhancements.</li>
                    <li>Troubleshoot, debug, and resolve system issues as they arise.</li>
                </ul>
                <div class="card-footer">
                    <p>Sep 2020 - Current | Minneapolis, MN</p>
                </div>
            </div>
        </div>



    </div>

</section>
