<section class="skills" id="skills">
    <div class="header">
        <h1><i class="fas fa-tools mr-3"></i>Skills</h1>
    </div>

    <div class="container">
        <div class="row col-12 skill-block" (click)="showContent1 = !showContent1"
            [ngClass]="{'show-content': showContent1}">
            <h1>Front End</h1>
            <div class="content">

                <div class="show-more-icon">
                    <i class="fas fa-info"></i>
                </div>
                <img src="https://andrewborstein.com/assets/img/bootstrap.png" alt="">
                <img src="https://andrewborstein.com/assets/img/angular.png" alt="">
                <img src="https://andrewborstein.com/assets/img/css3.png" alt="">
                <!-- <img src="https://andrewborstein.com/assets/img/html5.png" alt="">
                <img src="https://andrewborstein.com/assets/img/nodejs.png" alt="" /> -->

            </div>
            <div class="show-more-content">
                <div class="tags ">
                    <p>NodeJS</p>
                    <p>Express</p>
                    <p>Firebase</p>
                    <p>MongoDB</p>
                    <p>OAuth2</p>
                    <p>Heroku</p>
                    <p>APIS</p>
                    <p>PHP</p>
                    <p>NodeJS</p>
                    <p>Express</p>
                    <p>Firebase</p>
                    <p>MongoDB</p>
                    <p>OAuth2</p>
                    <p>Heroku</p>
                    <p>APIS</p>
                    <p>PHP</p>
                </div>
                <!-- <i class="fas fa-grip-lines" (click)="showSkills2 = !showSkills2"></i> -->
            </div>
        </div>




        <div class="row col-12 skill-block" (click)="showContent2 = !showContent2"
            [ngClass]="{'show-content': showContent2}">
            <h1>Back End</h1>
            <div class="content">

                <div class="show-more-icon">
                    <i class="fas fa-info"></i>
                </div>
                <img src="https://andrewborstein.com/assets/img/bootstrap.png" alt="">
                <img src="https://andrewborstein.com/assets/img/angular.png" alt="">
                <img src="https://andrewborstein.com/assets/img/css3.png" alt="">
                <!-- <img src="https://andrewborstein.com/assets/img/html5.png" alt="">
                <img src="https://andrewborstein.com/assets/img/nodejs.png" alt="" /> -->

            </div>
            <div class="show-more-content">
                <div class="tags ">
                    <p>NodeJS</p>
                    <p>Express</p>
                    <p>Firebase</p>
                    <p>MongoDB</p>
                    <p>OAuth2</p>
                    <p>Heroku</p>
                    <p>APIS</p>
                    <p>PHP</p>
                    <p>NodeJS</p>
                    <p>Express</p>
                    <p>Firebase</p>
                    <p>MongoDB</p>
                    <p>OAuth2</p>
                    <p>Heroku</p>
                    <p>APIS</p>
                    <p>PHP</p>
                </div>
                <!-- <i class="fas fa-grip-lines" (click)="showSkills2 = !showSkills2"></i> -->
            </div>
        </div>


        <div class="row col-12 skill-block" (click)="showContent3 = !showContent3"
            [ngClass]="{'show-content': showContent3}">
            <h1>MORE</h1>
            <div class="content">

                <div class="show-more-icon">
                    <i class="fas fa-info"></i>
                </div>
                <img src="https://andrewborstein.com/assets/img/bootstrap.png" alt="">
                <img src="https://andrewborstein.com/assets/img/angular.png" alt="">
                <img src="https://andrewborstein.com/assets/img/css3.png" alt="">
                <!-- <img src="https://andrewborstein.com/assets/img/html5.png" alt="">
                <img src="https://andrewborstein.com/assets/img/nodejs.png" alt="" /> -->

            </div>
            <div class="show-more-content">
                <div class="tags ">
                    <p>NodeJS</p>
                    <p>Express</p>
                    <p>Firebase</p>
                    <p>MongoDB</p>
                    <p>OAuth2</p>
                    <p>Heroku</p>
                    <p>APIS</p>
                    <p>PHP</p>
                    <p>NodeJS</p>
                    <p>Express</p>
                    <p>Firebase</p>
                    <p>MongoDB</p>
                    <p>OAuth2</p>
                    <p>Heroku</p>
                    <p>APIS</p>
                    <p>PHP</p>
                </div>
                <!-- <i class="fas fa-grip-lines" (click)="showSkills2 = !showSkills2"></i> -->
            </div>
        </div>
    </div>

</section>
